.navbar-menu {
  background-color: #608189;
  padding-left: 30px;
}

.nav-title {
  color: #c1a57b;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.main-table {
  justify-content: center;
  margin-top: 20px;
}

.img-logo {
  margin-top: 90px;
  width: auto;
  height: 200;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img-nav {
  height: 60px;
  width: auto;
}

.button-add-course {
  color: #43d3e8;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 22px;
  border-color: #43d3e8;
  border: 2.5px solid;
}

.button-add-course:hover {
  background-color: #43d3e8;
  border-color: #43d3e8;
  color: #ffffff;
}

.button-table {
  border-radius: 22px;
  background-color: #43d3e8;
  border-color: #43d3e8;
  font-size: 13px;
  font-weight: 500;
}

.modal-detail-category {
  font-size: 12px;
}

.modal-detail-p {
  border: 1px solid #608189;
  padding: 10px;
  color: #334347;

}

.modal-body {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 0px;
}

.modal-detail-name {
  color: #608189;
  letter-spacing: 1px;
  font-weight: 800;
}

.modal-detail-title {
  text-align: center;
  letter-spacing: 3px;
  color: #334347;
}

.modal-detail-date {
  text-align: right;
  padding-top: 15px;
  font-size: 12px;
}

.modal-detail-time {
  text-align: right;
  font-size: 10px;
}

.modal {
  background: rgba(255, 255, 255, 0);
}

.form-title {
  font-size: 14px;
  color: #608189;
}

.label {
  margin-bottom: 0.4rem;  
}

.form-group {
  margin-bottom: 0.5rem;
}

.button-modal-course {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 200px;
}

.table td {
  text-align: left;
}

.modal-detail-doctor {
  font-weight: 700;
  color: #608189;
}

.modal-detail-hospital {
  font-size: 14px;  
}

.button-buyer {
  background-color: #66e387;
  border-color: #66e387;
  color: #ffffff;
  font-weight: 500;
}

.button-buyer:hover {  
  background-color: #2f7040;
  border-color: #2f7040;
}

.footer{
  background: #333a3b;
  color:#ffffff;
  padding-top: 20px;
  font-size: 12px;
  margin-top: 100px;
}

.a-links {
  color: white;
  transition: color .2s;
}


.links ul{
  list-style-type: none;
}

.copyright p{
  border-top: 1px solid rgba(255,255,255,.1);
  
} 

.copyright-p {
  color: #ffffff;
}

.location{
  font-size: 12px;
}

.about-company{
  text-align: center;
} 

.img-pulse-green {
  float: right;
}

.img-footer {
  width: auto;
  height: 180px;
  padding-top: 20px;
}

.person-icon {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  margin-bottom: 5px;
}

.tel-footer {
  margin-bottom: 10px;
}

.img-pulse {
  margin-top: 50px;
}